@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: Kanit, sans-serif;
    box-sizing: border-box;
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#menu-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    align-items: center;

    width: 100vw;
    height: 70px;
    padding: 5px;

    background-color: rgb(var(--primaria-fundo-rgb));

    box-shadow: 0px 2px 12px rgb(255 255 255);
    border-bottom: 5px solid rgb(var(--primaria-texto-rgb));
}

#nvMenuTop {
    display: flex;
}

#dvOpecoesMobile span.material-icons {
    color: rgb(var(--primaria-texto-rgb));
    font-weight: 600;
    font-size: 40px;
}

#dvOpecoesMobile > button {
    text-align: center;
    height: auto;
}

#menu-top > #nvMenuTop > div {
    padding: 10px;
    margin: 5px;
}

#menu-top > #nvMenuTopMobile {
    background-color : white;
    
    display : none;
    flex-direction: column;
    
    width: 100vw;
    padding: 0;
    margin: 0;
    
    position: fixed;
    top: 70px;
    left: 0;

    text-align: center;
}

#menu-top > #nvMenuTop > div:nth-child(1) {
    margin-left: 30px;
}

#menu-top > #nvMenuTopMobile > div {
    border-top: 5px solid white
}

#menu-top > #nvMenuTopMobile > div:nth-child(1) {
    border-top: none;
}


#menu-top > #nvMenuTop > div > button,
#menu-top > #nvMenuTopMobile > div > button {
    color: rgb(var(--primaria-texto-rgb));
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

#menu-top > #nvMenuTopMobile > div {
    padding: 10px;
    border-bottom: 3px solid rgb(var(--primaria-texto-rgb));
}

#dvOpecoesMobile {
    display: none;
}

@media screen and (min-width: 576px) {
    #nvMenuTopMobile {
        display: none!important;
    }
}

@media screen and (max-width: 575px) {
    #dvOpecoesMobile {
        display: block;
        position: absolute;
        right: 30px;
    }

    #menu-top > #nvMenuTop {
        display: none;
    }

    #menu-top > #nvMenuTopMobile {
        display: none;
    }

    #menu-top > #nvMenuTop > div:nth-child(1) {
        margin-left: 0px;
    }
    
    #menu-top > #nvMenuTop > div {
        border-bottom: 5px solid rgba(var(--secundaria-texto-rgb));
    }
}

#conteudo {
    flex: 1;
    overflow: none;
    margin-top: 70px;
    background-color: rgb(var(--primaria-fundo-rgb));
    height: auto;
}

#emContent {
    width: 100%;
    min-height: calc(100vh - 70px);
}



main >  #render-conteudo {
    padding: 0px 3rem;
}

footer {
    text-align: center;
    padding: 5px;
    font-weight: 600;
    color: rgb(var(--primaria-texto-rgb));
    background-color: rgb(var(--secundaria-texto-rgb));
}

/* -------------------------------------------------------------------------------- */
.container-input {
    display: flex;
    flex-direction: column;
    margin: 6px;
}

.container-input > input, .container-input > textarea {
    border-radius: 2px;
    border: 1px solid rgba(var(--primaria-texto-rgb));
    padding: 4px;
    border-radius: 4px;
}

.container-input > input:focus, .container-input > textarea:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(var(--primaria-texto-rgb));
    box-shadow: 0 0 0 0.25rem rgba(var(--primaria-texto-rgb), 0.4);
    outline: none;
}

.button-padrao {
    color: #fff;
    background-color: rgb(var(--primaria-texto-rgb));
    border-color: rgb(var(--primaria-texto-rgb));
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    margin-left: 6px;
}

.button-padrao:hover {
    background-color: rgba(var(--primaria-texto-rgb), 0.8);
    border-color: rgba(var(--primaria-texto-rgb), 0.8);
}


.button-padrao:focus, .button-padrao:active {
    box-shadow: 0 0 0 0.25rem rgba(var(--primaria-texto-rgb), 0.4);
}

.container {
    display: flex; 
    flex-grow: 1;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.col-50 {
    width: 50%;
}

@media screen and (max-width: 540px) {
    .sm-container-column {
        flex-direction: column;
    }

    .sm-100 {
        width: 100%;
    }
}

.text-white {
    color: rgb(var(--primaria-texto-rgb));
}

.card {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
}

.card > div > i {
    font-size: 40px;
}

.card.bg-success {
    background-color: rgba(var(--secundaria-texto-rgb)) !important;
}

.card:hover {
    background-color: rgba(var(--primaria-texto-rgb)) !important;
    color: rgb(var(--secundaria-texto-rgb));
    cursor: pointer;
    transition-duration: 0.7s;
}