* {
	box-sizing: border-box;
}

body  {
	padding: 0px;
	margin: 0px;
}

:root {
    --primaria-fundo-rgb: 256, 256, 256 !important;
    --primaria-texto-rgb: 85, 78, 185 !important;
    --secundaria-texto-rgb: 109, 231, 37 !important;
}

h1 {
	color: rgb(--primaria-texto-rgb);
}